* { box-sizing: border-box; }

body {
  width: 95vw;
  max-width: 36rem;
  margin: 1rem auto;

  font-family: sans-serif;
  text-align: center;
}

.narrow {
  width: 100%;
  max-width: 24rem;
  margin: 0 auto;
}

.alert {
  background-color: #fdd;
  border: 1px solid #f99;
  padding: 0.5rem;
  margin: 1rem 0;
  line-height: 1.4;
}

button {
  min-width: 50%;
  padding: 1rem;
  border: none;
  color: white;
  background-color: #2196F3;
  font-size: 1em;
  border-radius: 0.25rem;
}

button[disabled] {
  cursor: not-allowed;
  background-color: #90C4ED;
}

button:hover {
  cursor: pointer;
  background-color: #42A5F5;
}

.form-el {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.25rem;
  font-size: 1em;
}

.progress-bar {
  display: block;
  width: 100%;
  max-width: 15rem;
  margin: 0.5rem auto;
  height: 1.25rem;
  background-color: #E1F5FE;
}

.progress-bar-value {
  width: 0;
  min-width: 2rem;
  height: 100%;
  padding: 0.25rem;
  font-size: 0.75em;
  background-color: #81D4FA;
  color: #546E7A;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
}

.form-option {
  width: 100%;
  text-align: left;
  background-color: #eee;
  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 0.125rem;
}

@media screen and (min-width: 40rem) {
  .form-option { width: 47%; }
}

.form-option:hover {
  cursor: pointer;
  background-color: #E1F5FE;
}

.form-option.--active {
  background-color: #B3E5FC;
}

.form-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
